html.categories-header {
  .below-site-header-outlet.categories-header {
    display: none;
  }
}

body.landing-page .bullet-x-indicators {
    display: flex;
}

.categories-banner-wrapper {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scroll-behavior: smooth;

    .category-box {
        display: flex;
        width: 330px;
        height: 120px;
        box-sizing: border-box;
        margin: 5px;
    }

    .category-text-contents {
        margin-left: 66px;
    }

    .categories-header-item {
        border-radius: 4px;
        width: 100%;
        padding: 40px 25px 40px 25px;

        h3 {
            font-size: 18px;
            margin-bottom: 0px;
        }

        .category-description {
            font-size: 14px;
        }
    }

    .category-logo {
        float: left;
        width: 40px;
        justify-content: flex-start;
        img {
            height: 40px;
            width: auto;
            max-width: 40px;
        }
    }

    .category-title-link, .category-title-link:visited, .category-title-link:hover {
        text-decoration: none;
        color: #fff;
    }

    .shortdesc1, .shortdesc2, .shortdesc3, .shortdesc4 {
        display: none;
    }

    .category-banner-platform-discussions {
        background: #00CA72;
        .shortdesc1 {
            display: flex;
        }
    }

    .category-banner-announcements {
        background: #6161FF;
        .shortdesc2 {
            display: flex;
        }
    }


    .category-banner-feature-requests {
        background: #FFCC00;
        .shortdesc3 {
            display: flex;
        }
    }

    .category-banner-community-events {
        background: #CFCFF9;
        .shortdesc4 {
            display: flex;
        }
    }
}


